<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Mode of Operation - Backup or Restore -->
    <add key="ModeOfOperation" value="Restore" />

    <add key="PushLogsToLogAnalytics" value="false" />
    <add key="LogAnalyticsWorkSpaceId" value="" />
    <add key="LogAnalyticsApplicationKey" value="" />
    <add key="ApiVersion" value="2016-04-01" />
    <add key="LogType" value="ApplicationLog" />

    <!-- ****************************** -->
    <!-- 1. Backup Mode Configurations. -->
    <!-- ****************************** -->

    <!-- 1.1 Monitored Data specifics -->
    <add key="CosmosDBEndpointUri" value="" />
    <add key="CosmosDBAuthKey" value="" />
    <add key="DatabaseName" value="testDatabase" />
    <add key="ContainerName" value="testCollection" />

    <!-- 1.2 Lease Data specifics -->
    <add key="RecreateLeaseCollection" value="true" />
    <add key="LeaseUri" value="" />
    <add key="LeaseSecretKey" value="" />
    <add key="LeaseDbName" value="testDatabase" />
    <add key="LeaseContainerName" value="leases" />
    <add key="LeaseContainerPartitionKey" value="/id" />
    <add key="LeaseThroughput" value="4000" />
    <add key="FeedPollDelayInSeconds" value="60" />

    <!-- 1.3 Backup Status Tracking Container -->
    <add key="BackupStatusDatabaseName" value="testDatabase" />
    <add key="BackupStatusContainerName" value="BackupStatusContainer" />
    <add key="BackupStatusContainerThroughput" value="6000" />
    <add key="BackupStatusContainerPartitionKey" value="/id" />

    <add key="MaxBackupsPerBlobFile" value="100" />

    <!-- 1.4 Storage Account Connection String -->
    <add key="BlobStorageConnectionString" value="" />

    <!-- 1.5 Flag to enable/disable compression when backing up data to Blob Storage -->
    <add key="UseCompression" value="false" />

    <!-- ****************************** -->
    <!-- 2. Restore Mode Configurations. -->
    <!-- ****************************** -->

    <!-- 2.1 Start and End time for Restore-->
    <add key="startTimeForRestore" value="1970-01-01 14:52:00" />
    <add key="endTimeForRestore" value="2072-06-17 14:55:42" />

    <!-- 2.2 Restore account details -->
    <add key="RestoreAccountUri" value="" />
    <add key="RestoreAccountSecretKey" value="" />

    <!-- 2.3 Restore Container details -->
    <add key="RestoreDatabaseName" value="RestoreDatabase" />
    <add key="RestoreContainerName" value="RestoreContainer" />
    <add key="RestoreContainerThroughput" value="100000" />
    <add key="RestoreContainerPartitionKey" value="/id" />

    <!-- 2.4. Restore status tracking container details -->
    <add key="RestoreStatusDatabaseName" value="RestoreDatabase" />
    <add key="RestoreStatusContainerName" value="RestoreStatusContainer" />
    <add key="RestoreStatusContainerThroughput" value="6000" />
    <add key="RestoreStatusContainerPartitionKey" value="/id" />

    <!-- 2.5 Degree of parallelism to use during restore -->
    <add key="MaxContainersToRestorePerWorker" value="2" />
    <add key="HasUpdates" value="false" />
    <add key="DegreeOfParallelism" value="5" />
    
    <!-- 2.6 Specific backup containers to restore -->
    <add key="BackupContainersToRestore" value="" />

    <add key="DeleteBackupsAfterRestore" value="false" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
