<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Mode of Operation - Backup or Restore -->
    <add key="ModeOfOperation" value="Backup" />
    
    <!-- ****************************** -->
    <!-- 1. Sample Data Generation      -->
    <!-- ****************************** -->
    <add key="CosmosDBEndpointUri" value=""/>
    <add key="CosmosDBAuthKey" value=""/>
    <add key="DatabaseName" value="testDatabase"/>
    <add key="CollectionName" value="testColl"/>
    <add key="OfferThroughput" value="6000"/>
    <add key="PartitionKeyName" value="/partitionKey"/>

    <!-- 1.2 Lease Data specifics -->
    <add key="recreateLeaseCollection" value="true" />
    <add key="leaseUri" value="" />
    <add key="leaseSecretKey" value="" />
    <add key="leaseDbName" value="testDatabase" />
    <add key="leaseCollectionName" value="leases" />
    <add key="leaseCollectionPartitionKey" value="/id" />
    <add key="leaseThroughput" value="400" />
    <add key="FeedPollDelayInSeconds" value="60" />

    <!-- 1.3 Backup Failure Tracking Collection -->
    <add key="BackupFailureDatabaseName" value="testDatabase" />
    <add key="BackupFailureCollectionName" value="BackupFailureCollection" />
    <add key="BackupFailureCollectionThroughput" value="6000" />
    <add key="BackupFailureCollectionPartitionKey" value="/id" />

    <!-- 1.4 Backup Success Tracking Collection -->
    <add key="BackupSuccessDatabaseName" value="testDatabase" />
    <add key="BackupSuccessCollectionName" value="BackupSuccessCollection" />
    <add key="BackupSuccessCollectionThroughput" value="6000" />
    <add key="BackupSuccessCollectionPartitionKey" value="/id" />

    <!-- ****************************** -->
    <!-- 2. Backup Configuration        -->
    <!-- ****************************** -->
    <add key="BlobStorageConnectionString" value="" />

    <!-- ****************************** -->
    <!-- 3. Sample Data Details         -->
    <!-- ****************************** -->
    <add key="DocSizesInKb" value="5"/>
    <add key="NumDocumentsToGenerate" value="16752"/>
    <add key="BatchSizeForWrites" value="1000"/>
    <add key="NumParallelTasks" value="5"/>

    <!-- ****************************** -->
    <!-- 4. Restore Mode Configurations. -->
    <!-- ****************************** -->

    <!-- 4.1 Start and End time for Restore-->
    <add key="startTimeForRestore" value="1970-01-01 00:00:00" />
    <add key="endTimeForRestore" value="2020-12-31 23:59:59" />

    <!-- 4.2 Restore account details -->
    <add key="RestoreAccountUri" value="" />
    <add key="RestoreAccountSecretKey" value="" />

    <!-- 4.3 Restorecollection details -->
    <add key="RestoreDatabaseName" value="RestoreDatabase" />
    <add key="RestoreCollectionName" value="RestoreCollection" />
    <add key="RestoreCollectionThroughput" value="60000" />
    <add key="RestoreCollectionPartitionKey" value="/partitionKey" />

    <!-- 4.3.1 Restore helper collection details -->
    <add key="RestoreHelperDatabaseName" value="RestoreDatabase" />
    <add key="RestoreHelperCollectionName" value="RestoreHelperCollection" />
    <add key="RestoreHelperCollectionThroughput" value="6000" />
    <add key="RestoreHelperCollectionPartitionKey" value="/id" />

    <!-- 4.4. Restore success tracking collection details -->
    <add key="RestoreSuccessDatabaseName" value="RestoreDatabase" />
    <add key="RestoreSuccessCollectionName" value="RestoreSuccessCollection" />
    <add key="RestoreSuccessCollectionThroughput" value="6000" />
    <add key="RestoreSuccessCollectionPartitionKey" value="/id" />

    <!-- 4.4.1 Restore failure tracking collection details -->
    <add key="RestoreFailureDatabaseName" value="RestoreDatabase" />
    <add key="RestoreFailureCollectionName" value="RestoreFailureCollection" />
    <add key="RestoreFailureCollectionThroughput" value="6000" />
    <add key="RestoreFailureCollectionPartitionKey" value="/id" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
